*{
    padding: 0;
    margin: 0;
}



/*Estilos header navbar*/
header{
   
    height: 90px;
    position: -webkit-sticky;
    position: sticky;
    top: 35px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
nav{
   
    height: 48px;
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
    background: #e8e5e480;
    backdrop-filter: saturate(180%) blur(10px);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 50px;
    
    font-size: 16px;
}


.ul-inicio{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 294px;
    
    height: 48px;
    font-size: 16px;
    flex-direction: row;
    
    
}



.li-inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    font-size: 15px;
    
}
li a{
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1000;
    width: 80px;
    height: 30px;
    padding-top: 12px;
    box-sizing: content-box;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

/*Clase que se agrega al presionar un boton del menu*/
.init{
    background-color: #fff;
    border-radius: 50px;
    
}

/*Estilo main*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    position: relative;
    margin-top: 120px;
    text-align: center;
}

h1{
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: lighter;
    height: auto;
    margin-bottom: 15px;
    
}
h2{
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
    font-weight: lighter;
    font-size: 25px;
    height: auto;
    color: #4d4d4d;
}



.elemento{
    width: 80%;
    height: 30px;
    margin:0;
    position: relative;
    }


.animatedColor {
        color: black;
}
.flecha {
animation: arrow 1s ease-in-out infinite;
font-size:40px;
cursor: pointer;
}
        
.flecha:hover{
animation:arrow 1s ease-out infinite !important;
        color:#818181;
}

@keyframes arrow {
    0% {
     transform: translate(0px, 10px);
     }
     50% {
     transform: translate(0px, 20px);
      }
     100% {
     transform: translate(0px, 10px);
    }
}

.proyectos{
    
    width: 100%;
    margin-top: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.proyectos article{
    width: 85%;
    
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    flex-direction: row;
    
}

.proyectos article div{
    
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.img{
    width: 59%;
    height: auto;
}




h3{
    
    text-align: justify;
    width: 100%;
    font-size: 35px;
    margin-bottom: 20px;
}
.descripcion-proyecto{
    
    text-align: justify;
    width: 60%;
    margin-bottom: 15px;
    color: #707070;
    font-size: 16px;
}

.date-project{
    display: flex;
    
    text-align: justify;
    width: 100%;
    color: #818181;
    font-size: 15px;
    margin-bottom: 15px;
}

.ver-mas{
    display: flex;
    color: rgb(230, 117, 136);
    text-align: justify;
    width: 100%;
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.ver-mas:hover{
    color: pink;
    cursor: pointer;
}

.perfil{
    width: 100%;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

h4{
    width:50%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 25px;
    height: auto;
    margin-bottom: 30px;
    margin-top: 150px;
    
    
}

h5{
    width:50%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 20px;
    height: auto;
    margin-top: 30px;
    
    
}

.perfil p{
    
    margin-top: 20px;
    font-size: 18px;
    width:75%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

.contacto{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500px;
    
    
}

h6{
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: lighter;
    height: auto;
    margin-bottom: 16px;
    margin-top: 150px;
    
}

.contacto ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 200px;
    justify-content: space-around;
    
    align-items: center;
}

.contacto ul li{
color: black;
   font-size: 16px;
}

.contacto ul li a:hover{
    color: #818181;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 2%;
    box-sizing: border-box;
}

footer span{
    
    width: 98%;

}

/*MOBILE*/

@media only screen and (max-width: 576px) {

    .proyectos{
        padding-top: 150px;
        width: 100%;
        margin-top: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .proyectos article{
        width: 95%;
        
        display: flex;
        margin-bottom: 20px;
        
        flex-direction: row;
        
    }
    
    .proyectos article div{
        
        width: 51%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    
    .img{
        width: 49%;
        height: auto;
    }

    h3{
    
        text-align: justify;
        width: 100%;
        font-size: 28px;
        margin-bottom: 20px;
    }
    .descripcion-proyecto{
        
        text-align: left;
        width: 100%;
        margin-bottom: 15px;
        color: #707070;
        font-size: 16px;
    }
    h1{
        width: 98%;
        
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: lighter;
        height: auto;
        margin-bottom: 15px;
        
    }
    h2{
        width: 100%;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        font-size: 25px;
        height: auto;
        color: #4d4d4d;
    }


    
    h4{
        width:95%;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        font-size: 25px;
        height: auto;
        margin-bottom: 30px;
        margin-top: 150px;
        
        
    }
    
    h5{
        width:98%;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        letter-spacing: 1px;
        font-size: 20px;
        height: auto;
        margin-top: 30px;
        
        
    }
    
    .perfil p{
        margin-top: 20px;
        font-size: 18px;
        width: 90%;
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        
    }

    footer{
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        
        
        
        text-align: center;

    }
    
    footer span{
        
        width: 100%;
    
    }

}

